<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <configSections>
        <section name="eventFormatterSettings" type="ISE.Library.EnterpriseLogging.EventSinks.FormatterConfigHandler, ISE.Library.EnterpriseLogging.EventSinks" />
        <sectionGroup name="ISE.Database">
            <section name="SqlServer" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
        <section name="ISE.Library.EnterpriseLogging" type = "System.Configuration.NameValueSectionHandler"/>
        <section name="ISE.Library.Configuration" type="System.Configuration.NameValueSectionHandler" />
        <section name="ISE.JMS" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    
    <eventFormatterSettings>
        <formatterInfo name="eventLogFormatter" type="ISE.Library.EnterpriseLogging.EventSinks.EventLogFormatter, ISE.Library.EnterpriseLogging.EventSinks"/>
    </eventFormatterSettings>

    <appSettings>
        <add key = "startupDelay" value = "0"/>
        <add key="instrumentationConfigFile" value="D:\ise\eif\EnterpriseInstrumentation.config" />
        <add key="AlternateLoggingClass" value="ISE.LoggingBlockWrapper.LoggingBlockWrapper,ISE.LoggingBlockWrapper"/>
        <add key="useCommLogger" value = "true"/>
        <add key="synchronousCommLogger" value="true"/>
        <add key="logRejectsToCommLogger" value="true"/>
        <add key="logRejectsToLog" value="true"/>
    <!-- <add key="loggingDirectory" value="d:\ise\log"/> -->
    </appSettings>
    
    <ISE.Library.EnterpriseLogging>
        <add key="LogLevel" value="Error"/> 
        <add key="ApplicationName" value="IORS.BSI.ORA-3-PAT"/>
    </ISE.Library.EnterpriseLogging>
    
    <ISE.Database>
        <SqlServer>
            <add key="UserId" value="iors_gts_pat_gts14" />
            <add key="Pwd" value="iors_gts_pat_gts14" />
            <add key="InitialCatalog" value="iors_gts_pat_gts14" />
            <add key="DataSource" value="DC-SQL01\SQM1,59897" />
        </SqlServer>
    </ISE.Database>
    
    
    <ISE.Library.Configuration>
        <add key="InstanceName" value="IORS.BSI.ORA-3-PAT" />
    </ISE.Library.Configuration>
    
    <ISE.JMS>
        <add key="Provider" value="ActiveMQ" />
        <add key="Url" value="tcp://tc-pat221:61616" />
    </ISE.JMS>
    
    
    <system.diagnostics>
        <switches>
                <!-- This switch controls general messages. In order to 
                    receive general trace messages change the value to the 
                    appropriate level. "1" gives error messages, "2" gives errors 
                    and warnings, "3" gives more detailed error information, and 
                    "4" gives verbose trace information -->
                <add name="TraceSwitch" value="4" />
                <!-- boolean that controls the header format in the log file. 
                     0 is short format, 1 is long format -->
                <add name="LongTraceHeader" value="0" />
        </switches>
    </system.diagnostics>
           
    <runtime>
      <loadFromRemoteSources enabled="true"/>
   </runtime>
</configuration>

